
experiments/1-text-pilot/Results/.Rhistory
experiments/1-text-pilot/Results/.RData
experiments/1-text-pilot/Submiterator-master/1-text-pilot.hits
experiments/3-english-baseline/Submiterator-master/3-english-baseline.hits
experiments/3-english-baseline/Submiterator-master/3-english-baseline-workerids.csv
experiments/3-english-baseline/Submiterator-master/3-english-baseline-system.csv
experiments/4-english-early-success/Submiterator-master/4-english-early-success-workerids.csv
experiments/4-english-early-success/Submiterator-master/4-english-early-success.hits
experiments/5-QUD/Submiterator-master/5-QUD-workerids.csv
experiments/5-QUD/Submiterator-master/5-QUD.hits
experiments/6-english-QUD/Submiterator-master/6-english-QUD-workerids.csv
experiments/6-english-QUD/Submiterator-master/6-english-QUD.hits
experiments/8-expanded-english/Submiterator-master/8-expanded-english.hits
experiments/8-expanded-english/Submiterator-master/8-expanded-english-workerids.csv
experiments/3-English-baseline/.DS_Store
experiments/11-english-single-trial-no-goal-structure/Submiterator-master/11-english-single-trial-no-goal-structure-workerids.csv
experiments/11-english-single-trial-no-goal-structure/Submiterator-master/11-english-single-trial-no-goal-structure.hits
